{
  "presets": [
    "env"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "syntax-async-functions",
    "transform-regenerator"
  ],
  "sourceMaps": true,
  "retainLines": true,
  "comments": false
}